* {
  text-align: center;
  font-family: 'Sahitya', serif;
}
.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background: transparent url(video-bg.jpg) no-repeat;
  background-size: cover;
}

.instructions {
  color: white;
  font-size: 24px;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  margin-top: 10%;
  height: 100px;
  z-index: 2;
  position: relative;
}

input {
  color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 2;
  margin-top: 30%;
  position: relative;
}

footer {
  clear: both;
  color: white;
  font-size: 10px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
}
