* {
    text-align: center;
}
h1 {
    color: blue;
}

.box {
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 1em;
}

footer {
    clear: both;
    width: 75%
    height: 100px;
    background-color: green;
}


